@{
    ViewBag.Title = "A random stranger approaches...";
}

<div class="menu col-md-6 col-md-offset-3">
    <a class="centered btn btn-default" href="@Url.Action("Npc","Npc")"> Generate a random npc</a>
    <a class="centered btn btn-default" href="@Url.Action("Advanced","Home")"> Build a detailed npc</a>
    <a class="centered btn btn-default" href="@Url.Action("Helpful","Home")"> Help me build an npc</a>
</div>