body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* make footser stay at the bottom of the page */

footer {
    position: absolute;
    bottom: 0;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.csv-input textarea {
    height: 240px;
    max-width: 480px;
    width: 480px;
}

.left {
    float: left;
    width: 49%;
}

.right {
    float: right;
    width: 49%;
}

img.resize {
    max-height: 300px;
    width: auto;
}

ul.checkbox-list {
    margin: 8px;
}

    ul.checkbox-list li {
        margin-top: -6px;
        font-weight: normal;
    }


li.stat span.stat {
    float: left;
    width: 25%;
    font-style: italic;
}


div.padme{
    padding: 8px;
}

li.stat span.statValue {
    padding: 50px;
}
@media(min-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -25%;
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -25%;
    }

    .row-offcanvas-right.active {
        right: 25%;
    }

    .row-offcanvas-left.active {
        left: 25%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 25%;
    }

    .options {
        position: relative;
        margin-left: 112%;
        width: 100%;
    }

    .active .options {
        margin-left: 5%;
    }
}