body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* make footser stay at the bottom of the page */

footer {
    /*position: absolute;*/
    bottom: 0;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.csv-input textarea {
    height: 240px;
    max-width: 480px;
    width: 480px;
}

.textarea {
    height: 120px !important;
    width: 100%;
}

.left {
    float: left;
    width: 49%;
}

.right {
    float: right;
    width: 49%;
}

.centered{
    float: none;
    margin: 0 auto;
}

.centered.btn{
    display: block;
    max-width: 50%
}

img.resize {
    max-height: 300px;
    width: auto;
}

ul.checkbox-list {
    margin: 8px;
}

    ul.checkbox-list li {
        margin-top: -6px;
        font-weight: normal;
    }


li.stat span.stat {
    float: left;
    width: 25%;
    font-style: italic;
}


div.padme {
    padding: 8px;
}

li.stat span.statValue {
    padding: 50px;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: dotted 1px #333;
}